
.CreationCard {
  // padding: 1.5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 530px;
  height: 123px;
  margin: 1rem;

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  .star{
    cursor: pointer;
  }
  .header {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Put space between title and star */
  }

  &:hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  .title {
    padding: 1rem;
    color: #4F4F4D;
    font-size: 14.2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
  }

  .divider {
    border-bottom: 2px solid #ddd; /* Add a bottom border */
    margin-bottom: 8px; /* Adjust margin as needed */
    width: 100%; /* Make it stretch to the width of the container */
  }

  .buttonDiv {
    display: flex;
    cursor:pointer;
    margin-top:50px;
    margin-left:250px;
    padding-right: 1.4rem;
    padding-bottom: 1.4rem;
  }

  .editText {
    margin-left:1.4rem;
    margin-bottom: -0.2rem;
    width: 80%;
    color: #4F4F4D;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none; /* Remove borders */
    outline: none; /* Remove the default focus outline if desired */
    resize: none; /* Disable text resizing */
    overflow: auto; /* Hide any overflowing content */
    word-wrap: break-word;
  }
  
}
